@import './Vars.styl'

header
    background  colorOne
    color white
    font-family: fontOne
    font-weight: 700
    .wrapper
        fullCenter()
        justify-content space-between
        height 100%
        padding 0 30px
    a
     color white