@import './Vars.styl'
.Header-categories
    display flex
    justify-content center
    padding 10px 20px
    gap 20px
.dropdown-toggle.nav-item
    display flex
    align-items center
    gap 10px
    border solid 1px #c9c9c9
    border-radius 5px
    padding 5px 10px
    color var(--primary)
    background white
    font-size 18px
    &:after
        display none
.Category-item
    display flex
    align-items center
    padding 10px 20px
    img
        height 40px
.dropdown-item
    display flex
    align-items center
    gap 10px
    padding 0
    h2
        font-size 16px
        color black