@import './Vars.styl'
.ProductPayment
    display flex
    flex-direction column;
    align-items center
    gap 10px
    h2
        font-size 16px
        color grey
    h3
        font-size 18px
    img
        max-width 120px
        max-width 80px
        object-fit contain
@media(min-width:800px)
    .ProductPayment
        flex-direction row